[Unit]
After=network.target
Description=Agora daemon
StartLimitBurst=120
StartLimitIntervalSec=10m

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
{% if acme %}
ExecStart=/usr/local/bin/agora \
  --acme-cache-directory /var/lib/agora/acme-cache \
  --acme-domain {{ domain }} \
  --address :: \
  --directory /srv/agora \
  --http-port 8080 \
  --https-port 443 \
  --https-redirect-port 80 \
  --lnd-rpc-authority localhost:10009 \
  --lnd-rpc-cert-path /var/lib/lnd/tls.cert \
  --lnd-rpc-macaroon-path /var/lib/lnd/data/chain/bitcoin/{{network}}/invoice.macaroon
{% else %}
ExecStart=/usr/local/bin/agora \
  --address :: \
  --directory /srv/agora \
  --http-port 80 \
  --lnd-rpc-authority localhost:10009 \
  --lnd-rpc-cert-path /var/lib/lnd/tls.cert \
  --lnd-rpc-macaroon-path /var/lib/lnd/data/chain/bitcoin/{{network}}/invoice.macaroon
{% endif %}

# Process management
####################

Type=simple
Restart=on-failure
TimeoutStopSec=10m
RestartSec=5s

# Directory creation and permissions
####################################

User=agora
Group=agora

# /var/lib/agora
StateDirectory=agora
StateDirectoryMode=0700

# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Deny access to /home, /root and /run/user
ProtectHome=true

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
